<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>

<body>
    <form action="/formulario/add" method="POST">
        <label>
            Nombre
            <input type="text" name='name'>
        </label>
        <label>
            Apellido
            <input type="text" name='lastname'>
        </label>
        <input type="submit" value="Agregar">
    </form>
    <a href="/formulario/ver">Ver personas</a>
</body>

</html>