<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar</title>
</head>

<body>
    <ul>
        <% personas.forEach(function(p){ %>
        <li><%= p.name %> <%= p.lastname %> <a href="/formulario/persona/<%= p.id %>">Borrar</a></li>
        <% }) %>
    </ul>
</body>

</html>